@font-face {
  font-family: 'MOON';
  src: local('MOON'), url('./fonts/MOON/Moon2.0-Regular.otf') format('truetype');
}

body {
  font-family: "MOON";
}

.intro {
  font-family: "BONDI";
  text-align: center;
  margin-top: 250px;
  font-size: calc(40px + 2vmin);
}

.introButton {
  font-family: "BONDI";
  font-size: calc(10px + 2vmin);
  margin-top: 15px;
  background-color: black;
  color: white;
  align-content: center;
}

.header {
  font-family: "BONDI";
}
.mainNav {
  justify-content: center;
  align-items: center;
  font-size: calc(5px + 2vmin);

}
