body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'MOON';
}



@font-face {
  font-family: 'Hiragino';
  src: local('Hiragino'), url('./assets/fonts/hiragino.otf') format('truetype');
} 

